Source: vyatta-service-export
Section: contrib/net
Priority: optional
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Build-Depends: debhelper-compat (= 10),
	       python3,
	       dh-exec,
	       dh-python,
	       dh-yang,
Standards-Version: 4.0.1
X-Python3-Version: >= 3.2

Package: vyatta-service-flow-monitoring-dpi-ipfix-option
Architecture: all
Section: contrib/net
Depends: ${misc:Depends},
 adduser,
 vyatta-dpi-cache,
 python3,
 python3-ipfix,
 python3-zmq,
Description: DPI IPFIX Options service
 A systemd service that publishes DPI IPFIX Options over a ZMQ socket

Package: vyatta-service-flow-monitoring-v1-yang
Architecture: all
Section: contrib/admin
Depends: vermont (>= 20190404-0vyatta3), ${misc:Depends},
 ${yang:Depends},
 ${perl:Depends},
 perl (>= 5.8.8),
 libmodule-load-conditional-perl,
 libxml-libxml-perl,
 python3,
 python3-vplaned,
 vyatta-cfg (>= 0.104),
 vyatta-op,
Conflicts: vyatta-service-flow-monitoring, vyatta-op (<< 1.0)
Replaces: vyatta-service-flow-monitoring, vyatta-op (<< 1.0)
Description: config/op yang, templates and scripts for vermont
 The Vyatta configuration/operational YANG, templates and scripts for vermont

Package: vyatta-service-flow-monitoring-bonding-v1-yang
Architecture: all
Section: contrib/admin
Depends:  ${misc:Depends},
 ${yang:Depends}
Description: vyatta-service-flow-monitoring-bonding-v1 module
 The YANG module for vyatta-service-flow-monitoring-bonding-v1

Package: vyatta-service-flow-monitoring-tunnel-v1-yang
Architecture: all
Section: contrib/admin
Depends:  ${misc:Depends},
 ${yang:Depends}
Description: vyatta-service-flow-monitoring-tunnel-v1 module
 The YANG module for vyatta-service-flow-monitoring-tunnel-v1

Package: vyatta-service-flow-monitoring-vfp-v1-yang
Architecture: all
Section: contrib/admin
Depends:  ${misc:Depends},
 ${yang:Depends}
Description: vyatta-service-flow-monitoring-vfp-v1 module
 The YANG module for vyatta-service-flow-monitoring-vfp-v1

Package: vyatta-service-flow-monitoring-vhost-v1-yang
Architecture: all
Section: contrib/admin
Depends:  ${misc:Depends},
 ${yang:Depends}
Description: vyatta-service-flow-monitoring-vhost-v1 module
 The YANG module for vyatta-service-flow-monitoring-vhost-v1

Package: vyatta-service-flow-monitoring-vti-v1-yang
Architecture: all
Section: contrib/admin
Depends:  ${misc:Depends},
 ${yang:Depends}
Description: vyatta-service-flow-monitoring-vti-v1 module
 The YANG module for vyatta-service-flow-monitoring-vti-v1

Package: vyatta-service-flow-monitoring-routing-instance-v1-yang
Architecture: all
Section: contrib/admin
Depends:  ${misc:Depends},
 ${yang:Depends},
 libvyatta-vrfmanager-perl,
 vermont (>= 20151005-0vyatta7)
Description: vyatta-service-flow-monitoring-routing-instance-v1 module
 The YANG module for vyatta-service-flow-monitoring-routing-instance-v1

Package: vyatta-service-flow-monitoring-dataplane-vif-v1-yang
Architecture: all
Section: contrib/admin
Depends:  ${misc:Depends},
 ${yang:Depends}
Description: vyatta-service-flow-monitoring-dataplane-vif-v1 module
 The YANG module for vyatta-service-flow-monitoring-dataplane-vif-v1

Package: vyatta-service-flow-monitoring-bonding-vif-v1-yang
Architecture: all
Section: contrib/admin
Depends:  ${misc:Depends},
 ${yang:Depends}
Description: vyatta-service-flow-monitoring-bonding-vif-v1 module
 The YANG module for vyatta-service-flow-monitoring-bonding-vif-v1
